<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <div class="header">
            <img class="logo" src="{{ url_for('static', filename='img/12.svg') }}" alt="">
            <h1>Savings Sanctuary</h1>
        </div>
        <!-- <div>
            <button>Add New Save</button>
        </div> -->
    </nav>

    {% block body %}{% endblock %}
</body>

</html>

<style>
    .header {
        display: flex;
        /* justify-content: space-between; */
        gap: 15px;
        align-items: center;
    }

    .logo {
        width: 26px;
        height: 43.55px;
    }

    @media(max-width: 850px) {
        .header h1 {
            font-size: 22px;
        }
    }
</style>