{% extends 'base.html' %}

{% block head %}
<title>Savings Sanctuary</title>
{% endblock %}

{% block body %}
<div class="daily-target">
    <h2>Daily Target</h2>
    <h2>92000</h2>
</div>
<div class="saving-form">
    <form action="/" method="POST">
        <label for="dateSaved">Date</label> <br>
        <input name="dateSaved" type="date"> <br>
        <div class="amount-field-container">
            <div class="amount-field">
                <label for="bfSaved">BF Amount</label>
                <input type="text" name="bfSaved">
            </div>
            <div class="amount-field">
                <label for="gfSaved">GF Amount</label>
                <input type="text" name="gfSaved">
            </div>
        </div>



        <input type="submit" value="Add Entry" class="submitBtn"> <br>
    </form>
</div>


<!-- <div class="savings-table">
    <table>
        <tr>
            <th>Date</th>
            <th>BF Saved</th>
            <th>GF Saved</th>
            <th>Total Saved</th>
            <th>Daily Target</th>
            <th>Surplus/Deficit</th>
            <th>Running Total</th>
        </tr>
        {% for item in savings %}
        <tr>
            <td>{{ item.date_saved }}</td>
            <td>{{ item.amount_bf_saved }}</td>
            <td>{{ item.amount_gf_saved }}</td>
            <td>{{ item.amount_bf_saved + item.amount_gf_saved }}</td>
            <td>92000</td>
            <td>{{ (item.amount_bf_saved + item.amount_gf_saved) - 92000 }}</td>
            <td>{{ item.running_total }}</td>
        </tr>
        {% endfor %}
    </table>
</div> -->

<div class="logs-container">
    <h2>
        Recent Logs
    </h2>
    <div class="log-row">
        <div class="log-header-column">Date</div>
        <div class="log-header-column">BF Amount</div>
        <div class="log-header-column">GF Amount</div>
        <div class="log-header-column">Total Saved</div>
        <div class="log-header-column">Surplus/Deficit</div>
    </div>
    {% for item in savings %}
    <div class="log-row">
        <div class="log-column">{{ item.date_saved }}</div>
        <div class="log-column">{{ item.amount_bf_saved }}</div>
        <div class="log-column">{{ item.amount_gf_saved }}</div>
        <div class="log-column">{{ item.amount_bf_saved + item.amount_gf_saved }}</div>
        <div class="log-column">{{ (item.amount_bf_saved + item.amount_gf_saved) - 92000 }}</div>
    </div>
    {% endfor %}
</div>

<style>
    body {
        font-family: "Plus Jakarta Sans", sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #FBFAF1;

    }

    .daily-target {
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: center;
        width: 90%;
        gap: 10px;
        max-width: 400px;
        border: 1px solid #F4F4EB;
        padding: 10px 22px;
        border-radius: 15px;
        margin-bottom: 21.44px;
        filter: drop-shadow(0px 2px 4px #0000001b);
    }

    .daily-target h2 {
        margin: 0;
    }

    .saving-form {
        width: 90%;
        text-align: center;
        background-color: #FFFFFF;
        border: 1px solid #F4F4EB;
        padding: 22px;
        border-radius: 15px;
        margin-bottom: 21.44px;
        max-width: 400px;
        filter: drop-shadow(0px 2px 4px #0000001b);
    }

    /* form label {
        margin-bottom: 8px;
    } */


    .amount-field-container {
        display: flex;
        justify-content: space-between;
        margin: 16px 0 32px 0;
        gap: 20px;
    }

    .amount-field input {
        width: 100%;
    }

    .amount-field {
        display: flex;
        flex-direction: column;
    }


    table {
        border: 1px solid black;
        /* margin: 10px 0; */
        width: 100%;
        table-layout: auto;
    }

    th,
    td {
        border: 1px solid black;
        /* margin: 10px 0; */
        margin: 0;
        padding: 0 10px;
        text-align: center;
    }

    .submitBtn {
        width: 100%;
        background-color: #3D6751;
        padding: 12px 0;
        border: none;
        border-radius: 8px;
        color: #FFFFFF;
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    /* Log Table */
    .logs-container {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: #ECECE2;
        padding: 0 32px;
        border-radius: 15px;
    }

    .logs-container h2 {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .log-row {
        display: flex;
        /* gap: 7rem; */
    }
    .log-header-column {
        width: 20%;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .log-column {
        width: 20%;
        margin-bottom: 20px;
        padding: 22px 24px;
        background-color: #FFFFFF;
        border-radius: 8px;
    }
</style>
{% endblock %}